= render 'navbar'
= render 'team'
.d-flex.justify-content-center
  h1.text-primary
    | DNA Acadmey.pk
.d-flex.justify-content-center
  =image_tag("theme/DNA Acadmey.png", class: "rotate")
.d-flex.justify-content-center
  h5
    | Site Underconstruction
