<%= render 'navbar'%>
<%= render 'team'%>


<div class="d-flex justify-content-center">
  <h1 class="text-primary">DNA Acadmey.pk</h1>
</div>
<div class="d-flex justify-content-center">
  <%=image_tag("theme/DNA Acadmey.png", class: "rotate")%>
</div>
<div class="d-flex justify-content-center">
  <h5>Site Underconstruction</h5>
</div>
