
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

a, a:active, a:hover, a:focus{
  text-decoration: none;
  color: #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  height: 350px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card {
  width: 300px;
  height: 350px;
}

.swiper {
  &-body {
    position: relative;
    height: 100%;
  }

  &-container {
    width: 97%;
    height: 100%;
  }

  &-wrapper {
    max-width: 1080px;
  }

  &-slide {
    // width: 540px !important;
    margin-right: 16px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    padding-bottom: 24px;
  }

  &-pagination {
    position: inherit !important;
    &-bullet {
      width: 12px !important;
      height: 12px !important;
      margin-left: 12px;
      &-active {
        background: #007b5e !important;
      }
    }
  }
}


// .swiper-button-next {
//   background-image: url('theme/arrow-long-right.svg');
//   background-color: rgb(233, 115, 115);
//   border: 15px solid rgb(233, 115, 115);
//   height: 42px;
//   width: 65px;
//   border-radius: 8px;
//   background-repeat: no-repeat;
//   background-size: 100% auto;
//   background-position: center;
// }

// .swiper-button-next::after {
//   display: none;
// }
// .swiper-button-prev {
//   background-image: url('theme/arrow-long-left.svg');
//   background-color: rgb(233, 115, 115);
//   border: 15px solid rgb(233, 115, 115);
//   height: 42px;
//   width: 65px;
//   border-radius: 8px;
//   background-repeat: no-repeat;
//   background-size: 100% auto;
//   background-position: center;
// }

// .swiper-button-prev::after {
//   display: none;
// }
